.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 41, 41, 0.908);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.modal {
    background: rgb(196, 196, 196);
    padding: 25px 30px;
    border-radius: 10px;
    width: 400px;
    position: relative;
}
  
.icon {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: -90%;
    font-size: 24px;
    color: rgb(255, 255, 255);
    width: 46px;
    height: 46px;
}
  
.text {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center;
}
  
.text:first-of-type {
    text-align: left;
}